/* css reset */
* {
  margin: 0;
  padding: 0;
}

/* nav bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
#navbar::before {
  content: " ";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  top: 0px;
  left: 0px;
}
/*  navbar logo */
#logo {
  margin: 10px 30px;
}

/* navbar logoimg */
#logo img {
  height: 60px;
  width: 60px;
  margin: 3px 5px;
}

/* navbar list */
#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Baloo Bhai 2", cursive;
}

#navbar ul li a:hover {
  color: black;
  background-color: rgb(216, 202, 202);
}

/* home sectionn */

#home {
  display: flex;
  flex-direction: column;
  padding: 5px 200px;
  justify-content: center;
  align-items: center;
  height: 550px;
}

#home::before {
  content: "";
  position: absolute;
  background: url("./img/salad.jpg") no-repeat center center/cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  top: 0px;
  left: 0px;
}
#home h1 {
  color: white;
  text-align: center;
  font-family: "Chelsea Market", cursive;
}

#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Chelsea Market", cursive;
}
/* utility section */
.h-primary {
  font-size: 3.8rem;
  padding: 15px;
}

.btn {
  padding: 6px 20px;
  border: 1px solid white;
  color: wheat;
  border-radius: 10px;
  background-color: brown;
  margin: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
.center {
  text-align: center;
}

/* service sectionn */
.h-secondary {
  font-size: 1.8rem;
  padding: 15px;
  font-family: "Baloo Bhai 2", cursive;
  text-align: center;
}
.h-secondaryy {
    font-size: 1.8rem;
    padding: 15px;
    font-family: "Baloo Bhai 2", cursive;
    text-align: center;
    color: cornsilk;
  }


#services {
  margin: 20px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  border-radius: 25px;
  padding: 40px;
  margin: 2px 5px;
  background: rgb(223, 212, 198);
}

#services .box img {
  height: 140px;
  display: block;
  margin: auto;
}

#services .box p {
  font-family: "Baloo Bhai 2", cursive;
}

/* clintsection */
#clint-sectionn {
  height: 300px;
  position: relative;
}

#clint-sectionn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./img/cook.jpg);
  z-index: -1;
  opacity: 1.0;
}

#clinttt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clintimg {
  height: 152px;
}

.clintitem {
  padding: 40px;
}

/* contact section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  background: url(./img/contact.jpg);
  height: 100%;
  width: 100%;
  z-index: -1;
}

#contactbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
#contactbox input {
  width: 100%;
  padding: 5px;
}
#contactbox label {
  font-size: 20px;
}

/* footer area */
footer {
  background-color: black;
  color: blanchedalmond;
  height: 100px;
}
footer p {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
}
